// 9. Contact
#contact_section {
  .contact_top_title {
    margin-bottom: 5rem;
  }
  .contact_option {
    background: rgba(255, 1, 79, 0.1);
    border-radius: 1.3rem;
    padding: 3rem 0;
    text-align: center;
    i {
      font-size: 3.8rem;
    }
    h5 {
      margin-top: 1.6rem;
      font-size: 2rem;
      font-weight: 600;
    }
    .c-address {
      font-size: 1.6rem;
    }
  }

  form {
    .row {
      margin-top: 5.2rem;
    }
    .form_input {
      width: 100%;
      height: 100%;
      border: 0.2rem solid #e0e0e0;
      border-radius: 0.25rem;
      outline: none;
      padding: 1.2rem;
      transition: all 0.2s;
    }
    .form_input:focus,
    textarea:focus {
      border: 0.2rem solid var(--primary-color);
    }
    textarea {
      border: 0.2rem solid #e0e0e0;
      outline: none;
      border-radius: 0.25rem;
      padding: 1rem 1.2rem;
      width: 100%;
      height: 100%;
      transition: all 0.2s;
    }

    .contact_submit_btn {
      .footer_contact_btn {
        font-size: 1.6rem;
        border: none;
        background: #1b1b1b;
        padding: 1.4rem 3.6rem;
        font-weight: 500;
        color: #fff;
        display: inline-block;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::after {
          position: absolute;
          content: "";
          background: var(--primary-color);
          visibility: hidden;
          height: 100%;
          width: 100%;
          left: 0;
          top: 5.3rem;
          transition: all 0.3s ease-out;
          z-index: -1;
        }
        &:hover::after {
          top: 0;
          visibility: visible;
        }
      }
    }
  }
}
